---
import Navigation from '../components/Navigation.astro'
import { Image } from 'astro:assets';
import image3 from '../images/DALL·E 2024-01-08 22.19.02 - Create a minimalist black and white digital illustration of a person sitting cross-legged on a cushion. The person is focused on working on a modern l.png'
import image4 from '../images/DALL·E 2024-01-08 22.19.23 - Create a minimalist black and white digital illustration of a person sitting cross-legged on a cushion. The person is focused on working on a modern l.png'
import arrowRight from '../icons/arrow-right-solid.svg'
import IconButton from '../components/IconButton.astro';
import JobSummary from '../components/JobSummary.astro';
import ProjectSummary from '../components/ProjectSummary.astro';
import BlogCard from '../components/BlogCard.astro';
import Footer from '../components/Footer.astro';
import MobileNavigation from '../components/MobileNavigation.astro';
const rps="This project is a modern-day version of the classic game Rock Paper Scissors with exciting twists. Built with React and Vanilla CSS, it allows players to view the history of all choices and is fully compatible with both desktop browsers and mobile devices. One of its notable features is the Pro mode, designed for fans of the hit TV Show The Big Bang Theory. With surprises and a sleek design, this game is sure to provide hours of fun for players of all ages."
const stu ="This is a sleek and user-friendly web application designed to provide quick and efficient URL shortening services. Built as a challenge from FrontendMentor, this project showcases a modern, responsive design achieved using React and the powerful Material-UI framework. The application not only shortens long URLs to make them more manageable but also ensures optimal user experience with its intuitive interface and immediate feedback system. Users can shorten any URL and track their usage, fostering a more convenient and efficient browsing experience."
const cfinder="This is a web application that provides users with information about all countries in the world. It utilizes the rest-countries API to fetch data and allows users to search and filter countries based on various criteria such as region, language. The application has a user-friendly interface that is optimized for mobile devices and features a dark and light mode for visual customization. The UI is styled using CSS and Bootstrap, while Google Fonts is used to enhance the typography of the application."
const projectObject=[
	{
		name:'Rock Paper Scissors',
		iconFor:'rps',
		githubLink:'https://github.com/Akshaydotcom/rock-paper-scissor',
		liveLink:'https://rockpaperscissors.agigabyte.com',
		summary:rps,
	},
	{
		name:'Country Finder',
		iconFor:'cfinder',
		githubLink:'https://github.com/Akshaydotcom/countryfinder',
		liveLink:'https://countryfinder.agigabyte.com',
		summary:cfinder,
	},
	{
		name:'Short The Url',
		iconFor:'stu',
		githubLink:'https://github.com/Akshaydotcom/url-shortening-api',
		liveLink:'https://agigabyte-urlshortener.netlify.app',
		summary:stu
	},
	{
		name:'Portfolio v1',
		iconFor:'portfolio_v1',
		githubLink:'https://github.com/Akshaydotcom/portfolio',
		liveLink:'https://agigabyte.com/',
		summary:'The website features a clean, minimalist design, emphasizing ease of navigation and user engagement. It serves as a central hub, presenting my skills, experiences, and a curated selection of projects, demonstrating my proficiency and style in web development. The portfolio is thoughtfully crafted to highlight my technical capabilities and creative prowess, aiming to connect with potential clients and collaborators by providing a thorough insight into my professional journey and accomplishments.'
	}
]
const allPosts=await Astro.glob('./posts/*.md')
const chera='At Chera Health, I enhanced user experience by integrating a React.JS-based address update feature, leading to positive user feedback. I also implemented a GPT-3.5 powered chat interface, achieving 95% query accuracy and 40% faster response times, and developed test cases that significantly improved API reliability.'

const infy='At Infosys, I led the design and implementation of an investment portfolio management dashboard for UBS using React, JavaScript, and Redux, significantly enhancing operational efficiency. My key roles included integrating Java-based REST APIs to streamline system performance and automating test processes with Jest, which considerably reduced manual testing efforts and improved accuracy. I also revitalized the UI of a client’s web application, leading to increased user engagement. My collaborative efforts were showcased in my work with QA testers, conducting extensive testing across multiple applications and mentoring new team members. Additionally, I developed a Java automation script for HTML change reports, greatly optimizing weekly workflows and team communication.'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Akshay Bhandary, a skilled Frontend Developer based in the Bay Area. Explore my project portfolio, including Paper Scissors, Country Finder, and Short The Url. Contact me for collaboration on web development projects involving React, Redux, and more." />
		<meta name="keywords" content="Akshay Bhandary, Frontend Developer, Bay Area, Web Development, JavaScript, React, HTML, CSS, Python, Redux, Git, Portfolio, Responsive Websites, API Integration, Blog Posts, Full Stack Development" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sora&display=swap" rel="stylesheet">
		<title>Portfolio-Akshay Bhandary</title>
	</head>
	<body>
		
		<!--  -->
		<Navigation/>
		<MobileNavigation />
		<section class="lg:grid lg:gap-16 lg:grid-cols-2 lg:px-20 lg:py-16 md:flex md:flex-row sm:flex sm:flex-row-reverse">
			<div class="px-8">
				<p class="text-5xl leading-[56px] font-thin">Hello, I'm <span class="font-extrabold">Akshay Bhandary.</span><br/> <span id="job-title"></span><br/> Based in Bay Area</p>
				<div class="inline-flex">
					
				</div>
			</div>
			<div class="px-8">
				<Image src={image4} alt=''/>
			</div>
		</section>
		<section class="md:px-20 py-12" id="skills">
			<header class="lg:text-5xl md:text-2xl py-4 flex justify-center">My <span class="font-extrabold pl-2">Skills</span></header>
			<div class="px-4 md:px-8 py-16">
				<div class="grid gap-2 grid-cols-2 xl:grid xl:gap-8 xl:grid-cols-6 lg:grid lg:gap-8 lg:grid-cols-5 md:grid md:gap-4 md:grid-cols-3">
					<IconButton iconFor="javascript"/>
					<IconButton iconFor="react"/>
					<IconButton iconFor="html"/>
					<IconButton iconFor="css"/>
					<IconButton iconFor="python"/>
					<IconButton iconFor="redux"/>
					<IconButton iconFor="tailwind"/>
					<IconButton iconFor="graphQL"/>
				</div>
			</div>
		</section>
		<section class="px-4 bg-black md:px-20 py-16">
			<header class="text-white text-5xl py-4 flex justify-center">My Experience</header>
			<JobSummary companyName="Chera Health LLC" title="Software Engineer Intern" startDate="July 2023" endDate="Sept 2023" desc={chera} iconFor="chera"/>
			<JobSummary companyName="Infosys" title="Front-End Developer" startDate="June 2018" endDate="Dec 2021" desc={infy} iconFor="infosys"/>
		</section>
		<section class="px-4 md:px-20 py-16" id="aboutMe">
			<div class="flex flex-col md:grid md:gap-4 md:grid-cols-2">
				<div class="ml-8">
					<Image src={image3} alt='' height={image3.height/3.5} width={image3.width/2}/>
				</div>
				<div>
					<header class="text-5xl py-4">About Me</header>
					<p>I am a budding Web Developer with a passion for building awesome-looking websites using ReactJs and Node. With over 3 years of experience in web development, I have worked on a variety of projects with large enterprise applications.

						I specialize in developing responsive, user-friendly, and highly-functional websites using ReactJs, Node, HTML5, CSS3, and JavaScript.
						Currently a graduate student at Santa Clara University, so if you are looking for a frontend or full-stack developer, I'd love to chat about potential opportunities to work together.
						
						When I'm not coding or working, you can find me playing the guitar, modding custom mechanical keyboards or playing video games.</p>
				</div>
			</div>
		</section>
		<section class="bg-black px-4 md:px-20 py-16" id="Projects">
			<header class="md:text-5xl py-4 flex justify-center text-white">My Projects</header>
			{
				projectObject.map((project, index)=>{
					return <ProjectSummary projectName={project.name} projectSummary={project.summary} iconFor={project.iconFor} number={index+1} liveLink={project.liveLink} githubLink={project.githubLink}/>
				})
			}
			<div class="flex justify-end text-2xl">
				<a href="/ArchivedProjects" target="_blank"><span class="text-white flex inline-flex">Archived Projects <Image src={arrowRight} alt="Arrow Right" height={arrowRight.height/20} width={arrowRight.width/20} class='invert-color ml-4'/></span></a></div>
		</section>
		<section class="px-4 md:px-20 py-16" id="blog">
			<header class="text-5xl py-4 flex flex-col md:flex-row md:justify-center">My Blog Posts</header>
			<div class="flex flex-col md:grid md:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-3 md:gap-8 md:justify-evenly py-16">
				{
				allPosts.slice(0,3).map((post)=>{
					return <BlogCard frontmatter={post.frontmatter} url={post.url}/>
				})}
			</div>
			
			<div class="flex justify-end">
				
				<a href="/BlogMain" target="_blank"><span class="text-2xl flex inline-flex">View All <Image src={arrowRight} alt="Arrow Right" height={arrowRight.height/20} width={arrowRight.width/20} class='ml-4'/></span></a>
			</div>
		</section>
		<section class="px-4 md:px-20 py-16" id="contact">
			<div class="flex flex-col-reverse lg:grid lg:grid-cols-2 lg:gap-8 pt-12">
				<div>
					<form  name="contact" method="POST" data-netlify="true" class="block">
						<input type="text" id="name" name="name" placeholder="Your name" class="block border border-black border-2 mx-4 my-5 w-3/4 lg:w-[25rem] xl:w-[30rem] px-6 py-4"/>
						<input type="email" id="email" name="email" placeholder="Email" class="block border border-black border-2 mx-4 mb-5 w-3/4 lg:w-[25rem] xl:w-[30rem] px-6 py-4"/>
						<input type="text" id="website" name="website" placeholder="Your website (If exists)" class="block border border-black border-2 mx-4 mb-5 w-3/4 lg:w-[25rem] xl:w-[30rem] px-6 py-4"/>
						<textarea rows="4" id="message" name="message" placeholder="How can I help?" class="block border border-black border-2 mx-4 mb-5 w-3/4 lg:w-[25rem] xl:w-[30rem] px-6 py-4"/>
						<button type="submit" class="bg-black text-white px-6 py-4 mx-4 text-xl">Get in touch</button>
					</form>
				</div>
				<div class="py-4 block">
					<span class="block text-2xl md:text-5xl py-4">Lets Collab? <span id="waving-hand">👋</span></span>
					<span class="block text-xxl md:text-5xl py-4">Coffee brews, tunes flow, and love glows – that's the secret sauce of this site!</span>
					<span class="block text-xl md:text-2xl py-8">akshaybhandaryg1@gmail.com</span>
					<span class="block text-xl md:text-2xl">408-646-2891</span>
				</div>
			</div>
			
		</section>
		<Footer />
	</body>
</html>


<style>
	body{
		font-family: Sora;
		background-color: rgba(201, 217, 222, 0.708);
	}

	img.invert-color{
		filter: invert(100%) !important;
    background-color: white !important; 
	}

	#waving-hand {
  font-size: 48px; /* Adjust size as needed */
  animation: wave-animation 2s infinite; /* Run the animation infinitely */
  transform-origin: 70% 70%; /* Adjust the pivot point of the hand */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); } /* Rotate clockwise */
  20% { transform: rotate(-8deg); } /* Rotate counter-clockwise */
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); } /* Return to the initial position */
  100% { transform: rotate(0deg); }
}

</style>

<script>
	import '../scripts/script.js'
</script>

<script>
	var i = 0;
var txt = 'Fullstack Developer ';
var txt2 = 'Frontend Developer ';
var currentTxt = txt;
var speed = 100;
var isDeleting = false; // Flag to indicate if the current operation is deleting

(function typeWriter() {
    var element = document.getElementById("job-title");
    var fullText = currentTxt.substring(0, i);

    if (!isDeleting) {
        if (i < currentTxt.length) {
            // Typing effect
            element.innerHTML = fullText;
            i++;
            setTimeout(typeWriter, speed);
        } else {
            // Once the text is fully typed, start deleting after some delay
            setTimeout(function() {
                isDeleting = true;
                typeWriter();
            }, 2000);
        }
    } else {
        if (i > 0) {
            // Backspace effect
            element.innerHTML = fullText;
            i--;
            setTimeout(typeWriter, speed / 2); // Usually, backspace is faster
        } else {
            // Once the text is fully deleted, switch to the next text and start typing
            isDeleting = false;
            currentTxt = (currentTxt === txt) ? txt2 : txt;
            setTimeout(typeWriter, 500); // Slight delay before starting to type the next text
        }
    }
}());


</script>