---
import Navigation from '../components/Navigation.astro'
import { Image } from 'astro:assets';
import image2 from '../images/p2.png'
import image3 from '../images/DALL·E 2024-01-08 22.19.02 - Create a minimalist black and white digital illustration of a person sitting cross-legged on a cushion. The person is focused on working on a modern l.png'
import image4 from '../images/DALL·E 2024-01-08 22.19.23 - Create a minimalist black and white digital illustration of a person sitting cross-legged on a cushion. The person is focused on working on a modern l.png'
import IconButton from '../components/IconButton.astro';
import JobSummary from '../components/JobSummary.astro';
import ProjectSummary from '../components/ProjectSummary.astro';
import BlogCard from '../components/BlogCard.astro'
const rps="This project is a modern-day version of the classic game Rock Paper Scissors with exciting twists. Built with React and Vanilla CSS, it allows players to view the history of all choices and is fully compatible with both desktop browsers and mobile devices. One of its notable features is the Pro mode, designed for fans of the hit TV Show The Big Bang Theory. With surprises and a sleek design, this game is sure to provide hours of fun for players of all ages."

const cfinder="This is a web application that provides users with information about all countries in the world. It utilizes the rest-countries API to fetch data and allows users to search and filter countries based on various criteria such as region, language. The application has a user-friendly interface that is optimized for mobile devices and features a dark and light mode for visual customization. The UI is styled using CSS and Bootstrap, while Google Fonts is used to enhance the typography of the application."
const projectObject=[
	{
		name:'Rock Paper Scissors',
		iconFor:'rps',
		githubLink:'https://github.com/Akshaydotcom/rock-paper-scissor',
		liveLink:'https://rockpaperscissors.agigabyte.com',
		summary:rps,
	},
	{
		name:'Country Finder',
		iconFor:'cfinder',
		githubLink:'https://github.com/Akshaydotcom/countryfinder',
		liveLink:'https://countryfinder.agigabyte.com',
		summary:cfinder,
	},
	{
		name:'Short The Url',
		iconFor:'stu',
		githubLink:'https://github.com/Akshaydotcom/url-shortening-api',
		liveLink:'https://agigabyte-urlshortener.netlify.app',
		summary:''
	}
]

const chera='At Chera Health, I enhanced user experience by integrating a React.JS-based address update feature, leading to positive user feedback. I also implemented a GPT-3.5 powered chat interface, achieving 95% query accuracy and 40% faster response times, and developed test cases that significantly improved API reliability.'

const infy='At Infosys, I led the design and implementation of an investment portfolio management dashboard for UBS using React, JavaScript, and Redux, significantly enhancing operational efficiency. My key roles included integrating Java-based REST APIs to streamline system performance and automating test processes with Jest, which considerably reduced manual testing efforts and improved accuracy. I also revitalized the UI of a client’s web application, leading to increased user engagement. My collaborative efforts were showcased in my work with QA testers, conducting extensive testing across multiple applications and mentoring new team members. Additionally, I developed a Java automation script for HTML change reports, greatly optimizing weekly workflows and team communication.'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sora&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<section class="grid gap-16 grid-cols-2 px-20 py-16">
			<div class="px-8">
				<p class="text-5xl leading-[56px] font-thin">Hello, I'm <span class="font-extrabold">Akshay Bhandary.</span> Frontend Developer Based in USA</p>
				<p>Loren Ipsum</p>
				<div class="inline-flex">
					
				</div>
				
			</div>
			<div class="px-8">
				<Image src={image4} alt=''/>
			</div>
		</section>
		<section class="px-20 py-12" id="skills">
			<header class="text-5xl py-4 flex justify-center">My <span class="font-extrabold pl-2">Skills</span></header>
			<div class="px-8 py-16">
				<ul class="grid gap-8 grid-cols-6">
					<IconButton iconFor="javascript"/>
					<IconButton iconFor="react"/>
					<IconButton iconFor="html"/>
					<IconButton iconFor="css"/>
					<IconButton iconFor="python"/>
					<IconButton iconFor="redux"/>
					<IconButton iconFor="tailwind"/>
					<IconButton iconFor="graphQL"/>
				</ul>
			</div>
		</section>
		<section class="bg-black px-20 py-16">
			<header class="text-white text-5xl py-4 flex justify-center">My Experience</header>
			<JobSummary companyName="Chera Health LLC" title="Software Engineer Intern" startDate="July 2023" endDate="Sept 2023" desc={chera} iconFor="chera"/>
			<JobSummary companyName="Infosys" title="Front-End Developer" startDate="June 2018" endDate="Dec 2021" desc={infy} iconFor="infosys"/>
		</section>
		<section class="px-20 py-16" id="aboutMe">
			<div class="grid gap-4 grid-cols-2">
				<div class="ml-8">
					<Image src={image3} alt='' height={image3.height/3.5} width={image3.width/2}/>
				</div>
				<div>
					<header class="text-5xl py-4">About Me</header>
					<p>I am a budding Web Developer with a passion for building awesome-looking websites using ReactJs and Node. With over 3 years of experience in web development, I have worked on a variety of projects with large enterprise applications.

						I specialize in developing responsive, user-friendly, and highly-functional websites using ReactJs, Node, HTML5, CSS3, and JavaScript.
						Currently a graduate student at Santa Clara University, so if you are looking for a frontend or full-stack developer, I'd love to chat about potential opportunities to work together.
						
						When I'm not coding or working, you can find me playing the guitar, modding custom mechanical keyboards or playing video games.</p>
				</div>
			</div>
		</section>
		<section class="bg-black px-20 py-16" id="Projects">
			<header class="text-5xl py-4 flex justify-center text-white">My Projects</header>
			{
				projectObject.map((project, index)=>{
					return <ProjectSummary projectName={project.name} projectSummary={project.summary} iconFor={project.iconFor} number={index+1} liveLink={project.liveLink} githubLink={project.githubLink}/>
				})
			}
			<div><a href="">Archived Projects</a></div>
		</section>
		<section class="px-20 py-16" id="blog">
			<header class="text-5xl py-4 flex justify-center">My Blog Posts</header>
			<div class="flex gap-8 justify-evenly py-16">
				{[1,2,3].map(()=>{
					return <BlogCard />
				})}
			</div>
			
			<div class="flex justify-end">
				<a href="/BlogMain" target="_blank">View All</a>
			</div>
		</section>
		<section class="px-20 py-16" id="contact">
			<div class="grid grid-cols-2 gap-8 pt-12">
				<div>
					<form class="block" name="contact" method="POST" data-netlify="true">
						<input type="text" id="name" name="name" placeholder="Your name" class="block border border-black border-2 mx-4 my-5 w-[35rem] px-6 py-4"/>
						<input type="email" id="email" name="email" placeholder="Email" class="block border border-black border-2 mx-4 mb-5 w-[35rem] px-6 py-4"/>
						<input type="text" id="website" name="website" placeholder="Your website (If exists)" class="block border border-black border-2 mx-4 mb-5 w-[35rem] px-6 py-4"/>
						<textarea rows="4" id="message" name="message" placeholder="How can I help?" class="block border border-black border-2 mx-4 mb-5 w-[35rem] px-6 py-4"/>
						<button type="submit" class="bg-black text-white px-6 py-4 mx-4 text-xl">Get in touch</button>
					</form>
				</div>
				<div class="py-4 block">
					<span class="block text-5xl py-4">Let's talk for something special</span>
					<span class="block text-2xl py-8">akshaybhandaryg1@gmail.com</span>
					<span class="block text-2xl">408-646-2891</span>
				</div>
			</div>
			
		</section>
		<footer class="bg-black text-white px-20 py-4">
			<div class="flex justify-between">
				<div><Image src={image2} alt="" class="invert-color h-10 w-10"/></div>
				<pre>
					@ 2023-2024 Personal
					Made with Astro.js
				</pre>
			</div>
			
		</footer>
	</body>
</html>


<style>
	body{
		font-family: Sora;
	}

	img.invert-color{
		filter: invert(100%) !important;
    background-color: white !important; 
	}
</style>