---
import { Image } from "astro:assets";
import icon from '../icons/coding-programming-language-svgrepo-com.svg'
const {frontmatter, url}=Astro.props
---

<div class="p-4 my-2 mx-4 md:p-8 lg:p-12 border-black border-2  hover:bg-black hover:rounded-lg hover:text-white blog-custom">
    <a href={url}>
        <div class="grid grid-rows-3 gap-4">
            <div class="flex justify-center">
                <Image src={icon} alt="" width={icon.width/5} class="blog-card-icon"/>
            </div>
            <div class="flex flex-col justify-center">
                <header class="text-2xl">{frontmatter.title}</header>
                <!-- <p>{frontmatter.description}</p> -->
            </div>
            <div>
                <ul class="flex flex-wrap">
                    {frontmatter.tags.map((tag)=>{
                        return <li class="p-1 m-2 border-2 border-black rounded-xl">{tag}</li>
                    })}
                </ul>
            </div>
        </div>
    
    </a>
</div>

<style>
    .blog-custom:hover .blog-card-icon{
        filter: invert(100%) !important;
        background-color: white !important; 
    }

    .blog-custom:hover li{
        border-color: white;
    }
</style>