---
import rps from '../images/rockpaperscissors.agigabyte.com_.png'
import stu from '../images/agigabyte-urlshortener.netlify.app_.png'
import cfinder from '../images/cfinder.png'
import portfolio from '../images/portfolio_v1.png'
import link from '../icons/link.svg'
import github from '../icons/github.svg'
import { Image } from 'astro:assets'
const {projectName, projectSummary, liveLink, githubLink, iconFor, number}=Astro.props
const flag=number%2==0
const imageMap={
    'rps':rps,
    'cfinder':cfinder,
    'stu':stu,
    'portfolio_v1':portfolio
}

---

<div class:list={["py-5","md:flex-row","flex-col","flex","md:gap-12 text-white",{"md:flex-row-reverse":flag}]}>
    <div class="flex justify-self-center self-center p-8 border border-white">
        <a href={liveLink} target="_blank" aria-label="Opens website in a new tab"><Image src={imageMap[iconFor]} alt="" class="h-[14rem] w-[28rem] hover:h-[18rem] hover:w-[32rem] md:hover:transition-all md:hover:ease-out"/></a>
    </div>
    <div class=" md:w-1/2">
        <p class="text-5xl font-extrabold">{String(number).padStart(2,'0')}</p>
        <p class="text-3xl py-8">{projectName}</p>
        <p class="text-xl text-white">{projectSummary}</p>
        <span class="inline-flex pt-2">
            <a href={liveLink} target="_blank" class="pr-4" aria-label="Opens website in a new tab"><Image src={link} alt="" class='invert' height={link.height*2}/></a>
            <a href={githubLink} target="_blank" aria-label="Opens Github Repo of the Project in a new tab"><Image src={github} alt="" class='invert' height={github.height*2}/></a>
        </span>
        
    </div>
</div>

<style>
    img.invert{
        filter: invert(100%) !important;
    background-color: white !important; 
    }
</style>