---
import rps from '../images/rockpaperscissors.agigabyte.com_.png'
import stu from '../images/agigabyte-urlshortener.netlify.app_.png'
import cfinder from '../images/cfinder.png'
import portfolio from '../images/portfolio_v1.png'
import lingoPy from '../images/LingoPy.PNG'
import link from '../icons/link.svg'
import github from '../icons/github.svg'
import { Image } from 'astro:assets'
const {projectName, projectSummary, liveLink, githubLink, iconFor, number}=Astro.props
const flag=number%2==0
const imageMap={
    'rps':rps,
    'cfinder':cfinder,
    'stu':stu,
    'portfolio_v1':portfolio,
    'lingoPy':lingoPy
}

---

<div class:list={["py-5","md:flex-row","flex-col","flex","md:gap-12 text-white","gap-60",{"md:flex-row-reverse":flag}]}>
    <div class="md:relative md:flex md:justify-self-center md:self-center md:p-8 ">
        <!-- <a href={liveLink} target="_blank" aria-label="Opens website in a new tab"><Image src={imageMap[iconFor]} alt="" class="h-[14rem] w-[28rem] hover:h-[18rem] hover:w-[32rem] md:hover:transition-all md:hover:ease-out"/></a> -->
            <a href={liveLink} target="_blank" aria-label="Opens website in a new tab">
                <Image src={imageMap[iconFor]} alt="" class="h-[12rem] w-[20rem] md:h-[12rem] md:w-[24rem] md:hover:h-[18rem] md:hover:w-[32rem] md:hover:transition-all md:hover:ease-out absolute"/>
            </a>
            <div class="md:h-[18rem] md:w-[32rem]"></div>
    </div>
    <div class="text-white md:w-1/2">
        <p class=" text-5xl font-extrabold">{String(number).padStart(2,'0')}</p>
        <p class="text-3xl py-8">{projectName}</p>
        <p class="text-xl">{projectSummary}</p>
        <span class="inline-flex pt-2">
            <a href={liveLink} target="_blank" class="pr-4" aria-label="Opens website in a new tab"><Image src={link} alt=""  height={link.height*2}/></a>
            <a href={githubLink} target="_blank" aria-label="Opens Github Repo of the Project in a new tab"><Image src={github} alt=""  height={github.height*2}/></a>
        </span>
        
    </div>
</div>

<style>
    img.invert{
        filter: invert(100%) !important;
    background-color: white !important; 
    }
</style>