---
import rps from '../images/rockpaperscissors.agigabyte.com_.png'
import stu from '../images/agigabyte-urlshortener.netlify.app_.png'
import cfinder from '../images/cfinder.png'
import portfolio from '../images/portfolio_v1.png'
import lingoPy from '../images/LingoPy.PNG'
import link from '../icons/link.svg'
import github from '../icons/github.svg'
import { Image } from 'astro:assets'
const {projectName, projectSummary, liveLink, githubLink, iconFor, number}=Astro.props
const flag=number%2==0
const imageMap={
    'rps':rps,
    'cfinder':cfinder,
    'stu':stu,
    'portfolio_v1':portfolio,
    'lingoPy':lingoPy
}

const summaryMap={
    'rps':'This project is a modern React-based version of Rock Paper Scissors with Pro mode inspired by The Big Bang Theory, featuring gameplay history and compatibility across desktop and mobile devices.',
    'cfinder':'This web app offers global country info with search and filter options, mobile optimization, dark/light mode, and styling with CSS, Bootstrap, and Google Fonts.',
    'stu':'This sleek and user-friendly web application, built with React and Material-UI, offers efficient URL shortening and tracking with a modern, responsive design and intuitive interface.',
    'portfolio_v1':'The website features a clean, minimalist design, showcasing my skills, experiences, and projects to highlight my web development proficiency and connect with potential clients and collaborators.',
    'lingoPy':'LingoPy is a desktop app that automates multilingual web content translation using OpenAI\'s GPT-3.5 API, featuring a simple tkinter GUI for streamlined localization.',
}

---
<div class="h-[16rem] bg-contain bg-no-repeat bg-center hoverClass" style=`background-image: url(${imageMap[iconFor].src});`>
    <div class="text-white md:w-3/4 sm:w-1/2">
        <p class="text-xs">{summaryMap[iconFor]}</p>
        <span class="inline-flex pt-2">
            <a href={liveLink} target="_blank" class="pr-4" aria-label="Opens website in a new tab"><Image src={link} alt=""  height={link.height*1.5} class='invert'/></a>
            <a href={githubLink} target="_blank" aria-label="Opens Github Repo of the Project in a new tab"><Image src={github} alt=""  height={github.height*1.5} class='invert'/></a>
        </span>
    </div>
</div>


<style>
    img.invert{
        filter: invert(100%) !important;
        background-color: white !important; 
    }

    .hoverClass:hover{
        background-repeat: no-repeat;
        background-image: none !important;
        background-position: center;
    }

    .hoverClass:hover div{
        display: inline-block;
        margin-top: 4em;
        margin-left:4em
    }

    .hoverClass div{
        display: none;
    }

</style>