---
import { Image } from "astro:assets";
import Navigation from "../components/Navigation.astro";
import MobileNavigation from "../components/MobileNavigation.astro";
import Footer from "../components/Footer.astro";
import js1 from '../images/js1.jpg'
const {frontmatter}=Astro.props
---

<html>
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sora&display=swap" rel="stylesheet">
		<title>{frontmatter.title}</title>
    </head>
    <body>
        <Navigation />
        <MobileNavigation />
            <main class="flex justify-center">
                <article class="px-20">
                    <div class="pt-4 pb-12 custom xl:px-8 xl:pr-12">
                        <header class="text-5xl py-4">{frontmatter.title} </header>
                        <figure class="flex justify-center">
                            <Image src={js1} alt="Banner for JavaScript" height={js1.height/3} width={js1.width/3}/>
                        </figure>
                        <slot/>
                        <slot name="conclusion">{frontmatter.conclusion}</slot>  
                    </div>
                    {frontmatter.tags.map((tag)=>{
                        return <button class="p-2 m-2 border border-2 border-black rounded text-black cursor-default bg-white">{tag}</button>
                    })}
                </article>
            </main>
        <Footer />
    </body>
</html>

<script>
    import '../scripts/script.js'
</script>

<style is:global>
    body{
		font-family: Sora;
		background-color: rgba(201, 217, 222, 0.708);
	}

    div.custom p{
        padding-top: 1rem;
    }

    div.custom h2{
        font-size: 1.75rem;
        line-height: 1.25rem;
        padding-top: 1rem;
    }

    div.custom pre{
        padding:0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    div.custom ol, div.custom ul{
        margin-left:1rem
    }
    div.custom ol li, div.custom ul li{
        list-style-type: disc;
    }

</style>